<div id="<%= dom_id group %>" class="group-card">
  <img class="group-icon" src=<%= group.icon %>>
  <h2 class="group-name"><%= group.name %></h2>
  <p>Total Amount: $<%= Investment.total_amount(group.id) %></p>
</div>
