<div class="login-page">
  <div class="login-top">
    <h2 class="login-title">New group</h2>
    <%= button_to "Sign out", destroy_user_session_path, method: :delete, class: "login-links", id: "signout" %>
  </div>

  <%= render "form", group: @group %>

  <br>

  <div class="actions">
    <%= link_to "Back to groups", groups_path, class: "actions" %>
  </div>
</div>
