/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @font-face {
   font-family: 'Lobster';
   src: url('Lobster-Regular.ttf');
 }

 @font-face {
  font-family: 'Proxima Nova';
  src: url('Proxima-Nova.otf');
}

 * {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
 }

 .page-container {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f0f3f2;
}

a {
  text-decoration: none;
}

 #splash-title {
   font-family: 'Lobster', sans-serif;
 }

 .splash-button {
   font-family: 'Proxima-Nova', sans-serif;
   display: flex;
   justify-content: center;
   align-items: center;
  }

 #login {
   margin-top: 150px;
   background-color: #3978c3;
   width: 90vw;
   height: 6%;
   border-radius: 3px;
   color: #c7def1;
 }

 #signup {
   margin-top: 20px;
   color: #9d9fa2;
 }
